.orders-section{
    padding: 7rem 0;
}
.product-information{
    color: black;
    font-weight: 600;
}
.product-information img{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin-right: 20px;
}
.main-content{
    width: 980px;
}
.price-quantity-container{
    display: flex;
    font-weight: 600;
}

.product-quantity-container{
    margin-left: 20px;
    margin-top: 10px;
}
.product-order-price{
    margin-left: 50px;
    margin-top: 10px;
}
.trash-can-button{
    margin-left: 50px;
    margin-top: 10px;
}
.cart-grid{
    border-bottom: 0.5px solid grey;
    margin-bottom: 2rem;
}
.remove-from-cart-button{
    background-color: #fff;
    border: none;
    font-size: 1.2rem;
}

.order-summary{
    font-weight: 550;
}
.order-summary .final-order{
    font-size: 1.3rem;
}
.order-summary .checkout-button{
    width: 100%;
    padding: 8px 0;
    background-color: #0A75B2;
    border: none;
    font-weight: 550;
    color: #fff;
}
.order-summary .checkout-button:hover{
    background-color: #08578A;
}
.promocode-content{
    padding: 3rem 0;
}
.promocode-content .promocode-button{
    border: none;
    background-color: #fff;
    color: #0A75B2;
    font-weight: 550;
    padding-top: 10px;
}
.promocode-content .promocode-input{
    padding: 5px;
    border-radius: 0;
    border: 1px solid black;
}
.promocode-content .apply-promocode-button{
    background-color: #fff;
    color: #0A75B2;
    border: 1px solid #0A75B2;
    font-weight: 550;
    padding: 0 20px;
}
.promocode-content .apply-promocode-button:hover{
    color: #31adec;
}

@media only screen and (max-width: 768px) {
    .product-quantity-container{
        margin-left: 20px;
    }
    .product-order-price{
        margin-left: 20px;
    }
    .trash-can-button{
        margin-left: 20px;
    }
}

@media only screen and (max-width: 576px) {

    .price-quantity-container{
        margin-bottom: 10px;
    }
    .cart-grid-raw{
        display: flex;
        justify-content: center;
    }
    .product-quantity-container{
        margin-left: 0px;
    }
}