.container{
    max-width: 90%;
}
body {
    font-family: Arial;
}

/* hero section styles */
.hero-section .hero-image{
    height: 850px;
    overflow: hidden;
    object-fit: cover;
}

/* products section styles */
.products-section{
    padding: 5rem 0;
}
.products-section .product-name, .product-price, .product-add-button{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.product-container{
    font-weight: 600;
    padding: 3rem 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
}


  .product-container:hover {
    background-color: rgb(250, 250, 250);
  }
  

.product-container .product-image-container{
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
}
.product-container .product-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 15px;
    aspect-ratio: 1 / 1;
    transition: opacity 0.5s ease-in-out;
}
.product-container .product-image.default {
    opacity: 1;
}

.product-container .product-image.hover {
    opacity: 0;
}

.product-container:hover .product-image.default {
    opacity: 0;
}

.product-container:hover .product-image.hover {
    opacity: 1;
}
.product-container .add-to-cart-button{
    width: 80%;
    padding: 5px 0;
    border-radius: 5px;
    background-color: #fff;
    font-weight: 600;
    color: #fff;
    border: none;
    border: 0.5px solid #fff;
    
}
.product-container:hover .add-to-cart-button {
    border-color: grey;
    color: black;
}
.product-container .add-to-cart-button:hover{
    background-color: black;
    color: #fff;
}
.product-container .add-to-wishlist-button{
    border: none;
    background: transparent;
    font-size: 2rem;
    transition: 300ms ease-out;
    position: absolute;
    top: 3rem;
    right: 1rem;
}
.product-container .add-to-wishlist-button:hover{
    transform: scale(1.3);
}
.wishlist-add-button .fa-heart{
    color: #c0bfbf;
    transition: color 0.3s ease-in-out;
}
.wishlist-add-button .active{
    color: red;
}

/* about section stytles */
.about-section{
    background-color: #F7F6F6;
    padding: 7rem 0;
}
.about-section .section-header h2{
    font-size: 3rem;
    font-weight: 600;
}
.about-section .section-content{
    font-weight: 500;
    font-size: 1.5rem;
    padding: 2rem 0;
}
.about-section .section-header, .section-content{
    display: flex;
    justify-content: center;
}
.about-section .section-content p{
    width: 800px;
    text-align: center;
}

/* service section styles */
/* .service-image{
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 700px;
}
.services-section .sticky-image{
    position: sticky;
    top: 0;
    z-index: 1;

}
.services-section{
    padding: 7rem 0;
    min-height: 120vh;
}
.visible-div{
    position: relative;
    padding: 3rem 0;
    z-index: 10;
} */
 .services-section{
    background-image: url(/assets/images/laura-chouette-R2DDxvSNxkM-unsplash.jpg);
    background-color: grey;
    background-blend-mode: multiply;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    padding: 35rem 0 3rem 0;
 }

.services-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    padding: 1rem;
    height: 100%;
    position: relative;
    overflow: hidden;
}
/*
.services-card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right, white, grey);
    box-shadow: rgb(86, 8, 2) 0px 0px 15px;
    z-index: -1;
    display: none;
    transform: scale(0);

}
.services-card:hover::after{
    display: block;
    transition: background-image 3s ease;
    transform: scale(1);
} */
.services-card::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, white, grey);
    box-shadow: rgb(86, 8, 2) 0px 0px 15px 15px;
    z-index: -1;
    
    transform: translate(-50%, -50%) scale(0); 
    transition: transform 0.5s ease-in-out;
}

.services-card:hover::after {
    transform: translate(-50%, -50%) scale(1);
}

.services-card img{
    height: 50px;
    width: 50px;
}
@media only screen and (max-width: 1000px) {
    .services-card{
        font-size: 1.4rem;
    }
}
@media only screen and (max-width: 768px) {
    .services-card{
        font-size: 1.1rem;
        overflow: hidden;
    }
}